@font-face {
font-family: "Roboto-Ligth";
src: url(../fonts/Roboto-Light.ttf) format("truetype");
}
*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
	font-family: "Roboto-Ligth";
}

body{
	background-color: #F6F6F6;
	font-size: 16px;
}
.contenido{
	margin:auto;
	widows: 90%;
}
.codigo{
	padding: 50px;
	padding-bottom: 20px;
}

img.logo{
	align-content: center;
	margin-top: 20px;
	width: 100px;
	height: 100px;
}
img.boton{
	align-content: center;
	margin-top: 0px;
	width: 100px;
	height: 100px;
}
h1, h2, h4, h5, h6 {
	color: #424242;
	margin-bottom: 10px;
	margin-top: 30px;
	text-align: center;
}
h3{
	color: #424242;
	margin-bottom: 10px;
	margin-top: 30px;
	
}

ul.lista li.item{
	color: #E54C21;
	list-style: square;
	margin-left: 10px;
}
ul.lista li.item a.enlace{
	color: #F26525;
	text-decoration: none;
	font-size: 1.2em;
}
/*media queries para css*/
@media only screen and (max-width: 500px) {
    .codigo{
        padding: 5px;
    }
}
